include README.md
include LICENSE
include babappai/py.typed
include babappaomega/py.typed
recursive-include babappai/data *.json
recursive-include babappai/assets *.json
recursive-include babappaomega/data *.json
recursive-include babappaomega/assets *.json
